{
  "extends": ["airbnb", "airbnb/hooks"],
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "rules": {
    "react/jsx-curly-newline": "error"
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "plugins": ["jest"]
}
